<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>[[${SITE_NAME}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

    <style>
        .product-img {
            width: 200px;
            height: auto;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: header_menu()"></div>
        <div th:replace="fragments :: secondary_menu()"></div>

        <div>
            <h2>Your Cart</h2>

            <div th:if="${message != null}" class="text-center alert alert-success">
                [[${message}]]
            </div>

            <div class="row" th:unless="${#lists.isEmpty(cartItems)}">
                <div class="col-8">
                    <th:block th:each="item, status : ${cartItems}" th:with="product = ${item.product}">
                        <div class="row border border-secondary rounded p-3 m-3">
                            <div class="col-1">     <!--    index, delete button   -->
                                <span>[[${status.count}]]</span>
                                <br>
                                <a class="font-weight-bold text-danger link-delete"
                                   th:pName="${product.name}" th:href="@{'/cart/delete/' + ${product.id}}">DEL</a>
                            </div>
                            <div class="col-4">     <!--    image   -->
                                <img class="img-fluid product-img" th:src="@{${product.getMainImagePath}}">
                            </div>
                            <div class="col-7">     <!--    name, quantity control, price   -->
                                <a class="h4" th:href="@{'/p/' + ${product.alias}}"
                                   target="_blank" th:title="${product.name}">
                                    [[${product.getShorterName}]]
                                </a>

                                <div>
                                    <nav>
                                        <ul class="pagination">
                                            <li th:id="${'minus' + product.id}" class="minus-li page-item disabled">
                                                <a th:pid="${product.id}" class="page-link btn link-minus"
                                                        th:href="@{'/cart/update/' + ${product.id} + '/' + ${item.quantity - 1}}">-</a>
                                            </li>
                                            <li>
                                                <input th:id="${'quantity' + product.id}" th:pid="${product.id}" class="form-control text-center quantity-value" type="text" th:value="${item.quantity}"
                                                       readonly style="width: 50px">
                                            </li>
                                            <li th:id="${'plus' + product.id}" class="plus-li page-item disabled">
                                                <a th:pid="${product.id}" class="page-link btn link-plus"
                                                   th:href="@{'/cart/update/' + ${product.id} + '/' + ${item.quantity + 1}}">+</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                                <div>
                                    <div th:if="${product.discountPercent == 0}">
                                        <span th:if="${CURRENCY_SYMBOL_POSITION == 'BEFORE'}">X [[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(product.price, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span>
                                        <span th:if="${CURRENCY_SYMBOL_POSITION == 'AFTER'}">X [[${#numbers.formatDecimal(product.price, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</span>
                                    </div>
                                    <div th:if="${product.discountPercent > 0}">
                                    <span th:if="${CURRENCY_SYMBOL_POSITION == 'BEFORE'}"
                                          style="font-size: larger; color: darkred">X [[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(product.getDiscountPrice, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span>
                                        <span th:if="${CURRENCY_SYMBOL_POSITION == 'AFTER'}"
                                              style="font-size: larger; color: darkred">X [[${#numbers.formatDecimal(product.getDiscountPrice, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</span>

                                        <del th:if="${CURRENCY_SYMBOL_POSITION == 'BEFORE'}">[[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(product.price, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</del>
                                        <del th:if="${CURRENCY_SYMBOL_POSITION == 'AFTER'}">[[${#numbers.formatDecimal(product.price, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</del>
                                    </div>
                                </div>

                                <div>
                                    <span class="font-weight-bold" th:if="${CURRENCY_SYMBOL_POSITION == 'BEFORE'}">
                                        = [[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(item.getSubtotal, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span>
                                    <span class="font-weight-bold" th:if="${CURRENCY_SYMBOL_POSITION == 'AFTER'}">
                                        = [[${#numbers.formatDecimal(item.getSubtotal, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</span>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>

                <div class="col-4">
                    <h2 class="text-danger">Estimated Total:</h2>
                    <div>
                        <h4 th:if="${CURRENCY_SYMBOL_POSITION == 'BEFORE'}">= [[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(estimatedTotal, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</h4>
                        <h4 th:if="${CURRENCY_SYMBOL_POSITION == 'AFTER'}">= [[${#numbers.formatDecimal(estimatedTotal, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</h4>
                    </div>
                    <div>
                        <div th:if="${isShippingSupported}">
                            <a class="btn btn-danger p-2" th:href="@{/check-out}">Checkout</a>
                        </div>
                        <div th:if="${!isShippingSupported}">
                            <h5 class="text-warning">Your address isn't supported by our shipping service!</h5>
                            <a th:if="${isPrimaryAddressUsed}" th:href="@{/account/details(redirect=cart)}">Update your account details! (You are using your primary address)</a>
                            <a th:if="${!isPrimaryAddressUsed}" th:href="@{/address-book(redirect=cart)}">Use another address! (You are using a sub-address)</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center" th:if="${#lists.isEmpty(cartItems)}">
                <h3 class="font-italic">You haven't chosen any products!</h3>
            </div>
        </div>

        <div th:replace="fragments ::footer_menu()"></div>
    </div>

    <div th:replace="/fragments :: confirmationDialog()"></div>

    <script th:src="@{/js/cart/cart.js}"></script>
    <script type="text/javascript">
        let contextPath = "[[@{/}]]";
        let csrfHeaderName = "[[${_csrf.headerName}]]";
        let csrfValue = "[[${_csrf.token}]]";
    </script>
</body>
</html>