<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="content(quantity, productId)" th:remove="tag">
        <nav>
            <ul class="pagination">
                <li class="minus-li page-item disabled">
                    <a th:pid="${productId}" class="page-link btn link-minus">-</a>
                </li>
                <li>
                    <input class="form-control text-center quantity-value" type="text" th:value="${quantity}"
                           readonly style="width: 50px">
                </li>
                <li class="plus-li page-item disabled">
                    <a th:pid="${productId}" class="page-link btn link-plus">+</a>
                </li>
            </ul>
        </nav>
    </div>

</body>
</html>