<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content(amount)" th:remove="tag">
            <input class="form-control" type="text" th:value="${CURRENCY_SYMBOL + ' ' + #numbers.formatDecimal(amount, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}"
                   readonly th:if="${CURRENCY_SYMBOL_POSITION == 'BEFORE'}">
            <input class="form-control" type="text" th:value="${#numbers.formatDecimal(amount, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + ' ' + CURRENCY_SYMBOL}"
                   readonly th:if="${CURRENCY_SYMBOL_POSITION == 'AFTER'}">
    </div>
</body>
</html>