<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>Category Management</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <style>
        .categoryImage {
            width: 150px;
            height: auto;
            border-radius: 7px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: navigation()"></div>

        <div class="mb-2">
            <h2>Category Management</h2>
            <a class="mr-2 btn btn-primary" th:href="@{/categories/new}">Create New Category</a>
            <a class="mr-2 btn btn-secondary" th:href="@{/categories/export/csv}">Export to CSV</a>
        </div>

        <!--    SEARCH FORM    -->
        <div class="mb-2">
            <form class="form-inline" th:action="@{'/categories/page/1'}">
                <input type="hidden" name="sortDir" th:value="${sortDir}">
                <input class="form-control mr-1" type="search" name="keyword" th:value="${keyword}" placeholder="Search category...">

                <button class="btn btn-primary mr-1" type="submit">Search</button>
                <button class="btn btn-secondary btn-clear" type="button">Clear</button>
            </form>
        </div>

        <div class="alert alert-success text-center" th:if="${message}">
            [[${message}]]
        </div>

        <!--    CATEGORY TABLE    -->
        <div>
            <table class="table table-responsive-xl table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>
                            <a class="text-white" th:href="@{'/categories/page/' + ${currentPage} + '?&sortDir=' + ${reversedSortDir} + '&keyword=' + ${keyword}}">Name</a>
                            <span>
                                <i class="fas fa-sort-up" th:if="${sortDir == 'asc'}"></i>
                                <i class="fas fa-sort-down" th:if="${sortDir == 'desc'}"></i>
                            </span>
                        </th>
                        <th>Alias</th>
                        <th>Enabled</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="category : ${categories}">
                        <tr>
                            <td>[[${category.id}]]</td>
                            <td>
                                <img class="categoryImage" th:src="@{${category.getImagePath}}">
                            </td>
                            <td th:class="${category.parent == null ? 'text-primary' : ''}">[[${category.name}]]</td>
                            <td>[[${category.alias}]]</td>
                            <td>
                                <a class="fas fa-check-circle fa-2x icon-green" th:if="${category.enabled}"
                                   th:href="@{'/categories/update-status/' + ${category.id}}"></a>
                                <a class="fas fa-circle fa-2x icon-dark" th:if="${!category.enabled}"
                                   th:href="@{'/categories/update-status/' + ${category.id}}"></a>
                            </td>
                            <td>
                                <a class="fas fa-edit fa-2x icon-green"
                                   th:href="@{'/categories/edit/' + ${category.id}}"></a>
                                &nbsp;
                                <a class="fas fa-trash fa-2x icon-dark link-delete"
                                   th:if="${!category.isHasChildren}"
                                   th:href="@{'/categories/delete/' + ${category.id}}" th:categoryId="${category.id}"></a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>

        <!--    PAGINATION    -->
        <div class="text-center" th:if="${totalElements > 0 && keyword == ''}">
            <p class="font-weight-bold">Showing root-category #[[${startCount}]] to #[[${endCount}]] of total [[${totalElements}]] root-categories</p>
        </div>

        <div class="text-center" th:if="${totalElements > 0 && keyword != ''}">
            <span class="font-weight-bold">Showing category #[[${startCount}]] to #[[${endCount}]] of total [[${totalElements}]] search results</span>
            <br>
            <span class="font-italic">(Search results aren't shown in hierarchical form)</span>
        </div>

        <div class="text-center" th:if="${totalElements == 0}">
            <p class="font-weight-bold font-italic">No Category Found</p>
        </div>

        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center">
                    <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/categories/page/1?sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">First</a>
                    </li>
                    <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/categories/page/' + ${currentPage - 1} + '?sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Previous</a>
                    </li>

                    <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <li th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
                            <a class="page-link" th:href="@{'/categories/page/' + ${i} + '?sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">[[${i}]]</a>
                        </li>
                    </th:block>

                    <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/categories/page/' + ${currentPage + 1} + '?sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Next</a>
                    </li>
                    <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/categories/page/' + ${totalPages} + '?sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--    FOOTER    -->
        <div class="text-center my-3">
            <p>Shopme Control Panel - Copyright &copy; Shopme</p>
        </div>
    </div>

    <!--    CONFIRMATION WINDOW    -->
    <div th:replace="fragments :: confirmationWindow()"></div>

    <script th:src="@{/js/common.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

           // Delete category
           $(".link-delete").on("click", function(e) {
               e.preventDefault();

               let clickedBtn = $(this);
               let deleteLink = clickedBtn.attr("href");
               let categoryId = clickedBtn.attr("categoryId");

               $("#modalContent").text("Are you sure to delete category ID " + categoryId);
               $("#btnYes").attr("href", deleteLink);
               $("#confirmDialog").modal();
           });

           // Clear search form
            $(".btn-clear").on("click", function() {
               window.location = "[[@{/categories}]]";
            });
        });
    </script>
</body>
</html>