<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content()" th:remove="tag">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Length (inch):</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" th:field="${product.length}" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Width (inch):</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" th:field="${product.width}" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Height (inch):</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" th:field="${product.height}" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Weight (pound):</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" th:field="${product.weight}" readonly>
            </div>
        </div>
    </div>
</body>
</html>