<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>Home - Shopme Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: navigation()"></div>

        <div class="mb-2">
            <h2>Order Management (For Shipper)</h2>
        </div>

        <!--    SEARCH FORM    -->
        <div class="mb-3">
            <form class="form-inline" th:action="@{'/orders/page/1'}">
                <input type="hidden" name="sortField" th:value="${sortField}">
                <input type="hidden" name="sortDir" th:value="${sortDir}">
                <input class="form-control mr-1" type="search" name="keyword" th:value="${keyword}" placeholder="Search order... (ID, name)">

                <button class="btn btn-primary mr-1" type="submit">Search</button>
                <button class="btn btn-secondary btn-clear" type="button">Clear</button>
            </form>
        </div>

        <!--    ORDERS    -->
        <div class="row">
            <th:block th:each="order : ${orders}">
                <div class="col-3 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <span>Order ID #[[${order.id}]]</span>
                                </div>
                                <div class="col">
                                    <div class="float-right">
                                        <a class="fas fa-file-alt fa-2x icon-green link-details"
                                           th:href="@{'/orders/details/' + ${order.id}}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <i class="fas fa-user"></i>
                                <b>[[${order.getFullName}]]</b>
                            </div>
                            <div>
                                <i class="fas fa-home"></i>
                                <span>[[${order.getRecipientAddress}]]</span>
                            </div>
                            <div>
                                <i class="fas fa-phone"></i>
                                <span>[[${order.phoneNumber}]]</span>
                            </div>
                            <div th:if="${order.isOrderCod}">
                                <b>COD:</b>
                                <span th:replace="/order/fragment-currency-span :: content(${order.total})"></span>
                            </div>
                            <div class="row mx-2 mt-3">
                                <div class="col-3">
                                    <i class="fas fa-people-carry-box fa-2x icon-green" th:if="${order.isPicked}"></i>
                                    <a th:id="${'PICKED' + order.id}" class="fas fa-people-carry-box fa-2x icon-silver link-status"
                                       th:href="@{'/orders-shipper/' + ${order.id} + '/update-status/PICKED'}"
                                       th:orderId="${order.id}"
                                       th:if="${!order.isPicked}"></a>
                                </div>
                                <div class="col-3">
                                    <i class="fas fa-shipping-fast fa-2x icon-green" th:if="${order.isShipping}"></i>
                                    <a th:id="${'SHIPPING' + order.id}" class="fas fa-shipping-fast fa-2x icon-silver link-status"
                                       th:href="@{'/orders-shipper/' + ${order.id} + '/update-status/SHIPPING'}"
                                       th:orderId="${order.id}"
                                       th:if="${!order.isShipping}"></a>
                                </div>
                                <div class="col-3">
                                    <i class="fas fa-box-open fa-2x icon-green" th:if="${order.isDelivered}"></i>
                                    <a th:id="${'DELIVERED' + order.id}" class="fas fa-box-open fa-2x icon-silver link-status"
                                       th:href="@{'/orders-shipper/' + ${order.id} + '/update-status/DELIVERED'}"
                                       th:orderId="${order.id}"
                                       th:if="${!order.isDelivered}"></a>
                                </div>
                                <div class="col-3">
                                    <i class="fas fa-undo fa-2x icon-green" th:if="${order.isReturned}"></i>
                                    <a th:id="${'RETURNED' + order.id}" class="fas fa-undo fa-2x icon-silver link-status"
                                       th:href="@{'/orders-shipper/' + ${order.id} + '/update-status/RETURNED'}"
                                       th:orderId="${order.id}"
                                       th:if="${!order.isReturned}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <!--    PAGINATION    -->
        <div>
            <div class="text-center" th:if="${totalElements > 0}">
                <p class="font-weight-bold">Showing users #[[${startCount}]] to #[[${endCount}]] of total [[${totalElements}]] orders</p>
            </div>

            <div class="text-center" th:if="${totalElements == 0}">
                <p class="font-weight-bold font-italic">Order Not Found</p>
            </div>

            <div th:if="${totalPages > 1}">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{'/orders/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">First</a>
                        </li>
                        <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{'/orders/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Previous</a>
                        </li>

                        <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <li th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
                                <a class="page-link" th:href="@{'/orders/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">[[${i}]]</a>
                            </li>
                        </th:block>

                        <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{'/orders/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Next</a>
                        </li>
                        <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{'/orders/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div th:replace="fragments :: footer()"></div>
    </div>

    <!--    ORDER DETAILS DIALOG    -->
    <div class="modal fade" id="orderDetailsDialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>

    <!--    CONFIRMATION DIALOG    -->
    <div th:replace="/fragments :: confirmationWindow()"></div>

    <!--    NOTIFICATION WINDOW    -->
    <div th:replace="/fragments :: notificationDialog()"></div>

    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/order/orders-for-shipper.js}"></script>
    <script type="text/javascript">
        let csrfHeaderName = "[[${_csrf.headerName}]]";
        let csrfValue = "[[${_csrf.token}]]";

        $(document).ready(function() {
            // Event
            // 1
            $(".btn-clear").on("click", function() {
                window.location = "[[@{/orders}]]";
            })

            $(".link-details").on("click", function(e) {
                e.preventDefault();

                let linkAttr = $(this).attr("href");
                $("#orderDetailsDialog").modal("show").find(".modal-content").load(linkAttr);
            });
        });
    </script>
</body>
</html>