<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>Home - Shopme Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: navigation()"></div>

        <div class="mb-2">
            <h2>Order Management</h2>
        </div>

        <!--    SEARCH FORM    -->
        <div class="mb-2">
            <form class="form-inline" th:action="@{'/orders/page/1'}">
                <input type="hidden" name="sortField" th:value="${sortField}">
                <input type="hidden" name="sortDir" th:value="${sortDir}">
                <input class="form-control mr-1" type="search" name="keyword" th:value="${keyword}" placeholder="Search order...">

                <button class="btn btn-primary mr-1" type="submit">Search</button>
                <button class="btn btn-secondary btn-clear" type="button">Clear</button>
            </form>
        </div>

        <div class="alert alert-success text-center" th:if="${message}">
            [[${message}]]
        </div>

        <!--    ORDER TABLE    -->
        <div>
            <table class="table table-responsive-xl table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <a class="text-white" th:if="${sortField != 'id'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=id&sortDir=asc&keyword=' + ${keyword}}">ID</a>
                            <a class="text-white" th:if="${sortField == 'id'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reversedSortDir} + '&keyword=' + ${keyword}}">ID</a>
                            <span th:if="${sortField == 'id'}">
                                <i class="fas fa-sort-up" th:if="${sortDir == 'asc'}"></i>
                                <i class="fas fa-sort-down" th:if="${sortDir == 'desc'}"></i>
                            </span>
                        </th>

                        <th>
                            <a class="text-white" th:if="${sortField != 'customer'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=customer&sortDir=asc&keyword=' + ${keyword}}">Customer</a>
                            <a class="text-white" th:if="${sortField == 'customer'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=customer&sortDir=' + ${reversedSortDir} + '&keyword=' + ${keyword}}">Customer</a>
                            <span th:if="${sortField == 'customer'}">
                                <i class="fas fa-sort-up" th:if="${sortDir == 'asc'}"></i>
                                <i class="fas fa-sort-down" th:if="${sortDir == 'desc'}"></i>
                            </span>
                        </th>

                        <th>
                            <a class="text-white" th:if="${sortField != 'total'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=total&sortDir=asc&keyword=' + ${keyword}}">Total</a>
                            <a class="text-white" th:if="${sortField == 'total'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=total&sortDir=' + ${reversedSortDir} + '&keyword=' + ${keyword}}">Total</a>
                            <span th:if="${sortField == 'total'}">
                                <i class="fas fa-sort-up" th:if="${sortDir == 'asc'}"></i>
                                <i class="fas fa-sort-down" th:if="${sortDir == 'desc'}"></i>
                            </span>
                        </th>

                        <th>
                            <a class="text-white" th:if="${sortField != 'orderTime'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=orderTime&sortDir=asc&keyword=' + ${keyword}}">Ordet Time</a>
                            <a class="text-white" th:if="${sortField == 'orderTime'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=orderTime&sortDir=' + ${reversedSortDir} + '&keyword=' + ${keyword}}">Ordet Time</a>
                            <span th:if="${sortField == 'orderTime'}">
                                <i class="fas fa-sort-up" th:if="${sortDir == 'asc'}"></i>
                                <i class="fas fa-sort-down" th:if="${sortDir == 'desc'}"></i>
                            </span>
                        </th>

                        <th>
                            <a class="text-white" th:if="${sortField != 'destination'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=destination&sortDir=asc&keyword=' + ${keyword}}">Destination</a>
                            <a class="text-white" th:if="${sortField == 'destination'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=destination&sortDir=' + ${reversedSortDir} + '&keyword=' + ${keyword}}">Destination</a>
                            <span th:if="${sortField == 'destination'}">
                                <i class="fas fa-sort-up" th:if="${sortDir == 'asc'}"></i>
                                <i class="fas fa-sort-down" th:if="${sortDir == 'desc'}"></i>
                            </span>
                        </th>

                        <th>
                            <a class="text-white" th:if="${sortField != 'paymentMethod'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=paymentMethod&sortDir=asc&keyword=' + ${keyword}}">Payment Method</a>
                            <a class="text-white" th:if="${sortField == 'paymentMethod'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=paymentMethod&sortDir=' + ${reversedSortDir} + '&keyword=' + ${keyword}}">Payment Method</a>
                            <span th:if="${sortField == 'paymentMethod'}">
                                <i class="fas fa-sort-up" th:if="${sortDir == 'asc'}"></i>
                                <i class="fas fa-sort-down" th:if="${sortDir == 'desc'}"></i>
                            </span>
                        </th>

                        <th>
                            <a class="text-white" th:if="${sortField != 'status'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=status&sortDir=asc&keyword=' + ${keyword}}">Status</a>
                            <a class="text-white" th:if="${sortField == 'status'}" th:href="@{'/orders/page/' + ${currentPage} + '?sortField=status&sortDir=' + ${reversedSortDir} + '&keyword=' + ${keyword}}">Status</a>
                            <span th:if="${sortField == 'status'}">
                                <i class="fas fa-sort-up" th:if="${sortDir == 'asc'}"></i>
                                <i class="fas fa-sort-down" th:if="${sortDir == 'desc'}"></i>
                            </span>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="order : ${orders}">
                        <tr>
                            <td>[[${order.id}]]</td>
                            <td>
                                <a class="customer-details"
                                   th:href="@{'/customers/details/' + ${order.customer.id}}">[[${order.customer.getFullName}]]</a>
                            </td>
                            <td>
                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'BEFORE'}">[[${CURRENCY_SYMBOL}]] [[${#numbers.formatDecimal(order.total, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span>
                                <span th:if="${CURRENCY_SYMBOL_POSITION == 'AFTER'}">[[${#numbers.formatDecimal(order.total, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] [[${CURRENCY_SYMBOL}]]</span>
                            </td>
                            <td>
                                <span th:text="${#dates.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}"></span>
                            </td>
                            <td>[[${order.getDestination}]]</td>
                            <td>[[${order.paymentMethod}]]</td>
                            <td>[[${order.status}]]</td>
                            <td>
                                <a class="fas fa-file-alt fa-2x icon-green link-details"
                                   th:href="@{'/orders/details/' + ${order.id}}"></a>
                                &nbsp;
                                <a class="fas fa-edit fa-2x icon-green" th:href="@{'/orders/edit/' + ${order.id}}"></a>
                                &nbsp;
                                <a class="fas fa-trash fa-2x icon-dark link-delete"
                                   th:href="@{'/orders/delete/' + ${order.id}}" th:orderId="${order.id}"></a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>

        <!--    PAGINATION    -->
        <div class="text-center" th:if="${totalElements > 0}">
            <p class="font-weight-bold">Showing users #[[${startCount}]] to #[[${endCount}]] of total [[${totalElements}]] orders</p>
        </div>

        <div class="text-center" th:if="${totalElements == 0}">
            <p class="font-weight-bold font-italic">Order Not Found</p>
        </div>

        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center">
                    <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/orders/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">First</a>
                    </li>
                    <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/orders/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Previous</a>
                    </li>

                    <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <li th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
                            <a class="page-link" th:href="@{'/orders/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">[[${i}]]</a>
                        </li>
                    </th:block>

                    <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/orders/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Next</a>
                    </li>
                    <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{'/orders/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div th:replace="fragments :: footer()"></div>
    </div>

    <!--    Confirmation Modal Dialog (Fade)    -->
    <div th:replace="fragments :: confirmationWindow()"></div>

    <!--    CUSTOMER DETAILS DIALOG    -->
    <div class="modal fade" id="customerDetailsDialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>

    <!--    ORDER DETAILS DIALOG    -->
    <div class="modal fade" id="orderDetailsDialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>

    <script th:src="@{/js/common.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Live function
            // 1
            $(".btn-clear").on("click", function() {
                window.location = "[[@{/orders}]]";
            })

            // 2
            $(".customer-details").on("click", function(event) {
                event.preventDefault();

                let linkAttr = $(this).attr("href");
                $("#customerDetailsDialog").modal("show").find(".modal-content").load(linkAttr);
            });

            $(".link-details").on("click", function(e) {
                e.preventDefault();

                let linkAttr = $(this).attr("href");
                $("#orderDetailsDialog").modal("show").find(".modal-content").load(linkAttr);
            });
        });
    </script>
</body>
</html>