<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <title>[[${SITE_NAME}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments ::header_menu()"></div>
        <div th:replace="fragments ::secondary_menu()"></div>

        <div>
            <h2>Your Address Book</h2>

            <a class="btn btn-primary my-2" th:href="@{/address-book/new}">Add New Address</a>

            <div class="text-center alert alert-success" th:if="${message != null}">
                [[${message}]]
            </div>

            <div class="row">
                <div class="col-6 mb-3">
                    <div id="primaryAdd" class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-9">
                                    <span class="font-weight-bold">Your Primary Address</span>
                                    <a class="text-primary" th:id="linkSetDefaultForPrimary"
                                       th:href="@{/address-book/set-default/0}" hidden="hidden"
                                       th:if="${redirect == null}">[Set as Default Address]</a>

                                    <a class="text-primary" th:id="linkSetDefaultForPrimary"
                                       th:href="@{'/address-book/set-default/0?redirect=' + ${redirect}}" hidden="hidden"
                                       th:if="${redirect != null}">[Set as Default Address]</a>
                                    <span class="text-danger" th:id="defaultMessageForPrimary" hidden="hidden">[Default Address]</span>
                                </div>
                                <div class="col-3">
                                    <a class="font-weight-bold text-primary">EDIT</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            [[${customer.getAddress}]]
                        </div>
                    </div>
                </div>

                <th:block th:each="address, status : ${addresses}">
                    <div class="col-6 mb-2">
                        <div th:class="${address.defaultForShipping ? 'card bg-warning sub-add' : 'card sub-add'}">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-9">
                                        <span class="font-weight-bold">Sub-address #[[${status.count + 1}]]</span>
                                        <a class="text-primary"
                                           th:href="@{'/address-book/set-default/' + ${address.id}}"
                                           th:if="${!address.defaultForShipping && redirect == null}">[Set as Default Address]</a>
                                        <a class="text-primary"
                                           th:href="@{'/address-book/set-default/' + ${address.id} + '?redirect=' + ${redirect}}"
                                           th:if="${!address.defaultForShipping && redirect != null}">[Set as Default Address]</a>
                                        <span class="text-danger" th:if="${address.defaultForShipping}">[Default Address]</span>
                                    </div>
                                    <div class="col-3 row">
                                        <a class="col font-weight-bold text-primary" th:href="@{'/address-book/edit/' + ${address.id}}">EDIT</a>
                                        <a class="col font-weight-bold text-danger link-delete"
                                           th:href="@{'/address-book/delete/' + ${address.id}}" th:order="${status.count + 1}">DEL</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                [[${address.getAddress}]]
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

        <div th:replace="fragments ::footer_menu()"></div>

        <div th:replace="/fragments :: confirmationDialog()"></div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".link-delete").on("click", function(event) {
                event.preventDefault();

                let clickedLink = $(this);
                let orderOfAddress = clickedLink.attr("order");
                let message = "Are you sure to delete address #" + orderOfAddress;
                let copyLink = clickedLink.attr("href");

                $("#modalContent").text(message);
                $("#btnYes").attr("href", copyLink);
                $("#confirmDialog").modal();
            });

            hightlightDefaultAddress();
        });

        let hightlightDefaultAddress = () => {
            let isSubaddDefault = false;
            let primaryAddressCard = $("#primaryAdd");
            let linkSetDefaultForPrimary = $("#linkSetDefaultForPrimary");
            let defaultMessageForPrimary = $("#defaultMessageForPrimary");

            $(".sub-add").each(function() {
                let subAdd = $(this);
                if(subAdd.hasClass("bg-warning")) {
                    isSubaddDefault = true;
                    linkSetDefaultForPrimary.prop("hidden", false);
                    defaultMessageForPrimary.prop("hidden", true);
                }
            });

            if(!isSubaddDefault) {
                primaryAddressCard.addClass("bg-warning");
                linkSetDefaultForPrimary.prop("hidden", true);
                defaultMessageForPrimary.prop("hidden", false);
            }
        }
    </script>
</body>
</html>